@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	h1 {
		@apply font-roboto-condensed text-4xl font-bold uppercase;
	}
	h2 {
		@apply font-roboto-condensed text-2xl font-bold uppercase;
	}
	h3 {
		@apply font-roboto-condensed text-lg font-bold uppercase;
	}
	p {
		@apply font-roboto font-light;
	}

	.endava {
		@apply rounded-lg bg-endava-500 text-white hover:bg-endava-600 active:bg-endava-700;
	}
}
